<section class="artistinfo">
<div class="artist cf" ng-model="artists">
<a href="#/details/{{preItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
   <br> <a target="_self" href={{mandi.items[whichItem].images.standard_resolution.url}} download={{mandi.items[whichItem].images.standard_resolution.url}}>Download</a>
    <h3>{{mandi.items[whichItem].caption.text}}</h1>
    <br>
       <img class="mainImg"  src={{mandi.items[whichItem].images.standard_resolution.url}}> 
  </div>
<a href="#/details/{{preItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <br>
  <a href="index.html#/user/{{mandi.items[whichItem].user.username}}">&laquo; Back to search</a>
</section>
